{% extends 'base.html' %}

{% block styles %}
#formbox                { margin: 5vh 20vw; text-align: center; }
p.headline              { padding: 1em;  line-height: 1.5; }
#formbox form           { line-height: 1.5; }
#formbox form p         { padding: 0.5em 0; }
#formbox form > ul      { display: inline-block; color: gray;
                          font-size: smaller; text-align: left; }
#formbox form > ul li   { padding: 0 1em; }
#formbox form label     { padding-right: 5px; }
{% endblock styles %}

{% block personalization %}{% endblock personalization %}

{% block contents %}
    <div id="formbox">
    {% if validlink %}
      <p class="headline big"><em class="big bold">Set a new password!</em></p>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
          <input type="submit" value="Change my password" />
        </p>
      </form>
    {% else %}
      <p>The password reset link was invalid, possibly because it has already been used.
         Please request a new <a href="{% url 'password_reset' %}" >password reset</a>.</p>
    {% endif %}
    </div>
{% endblock contents %}