{% extends 'base.html' %}

{% block styles %}
#formbox                { margin: 5vh 20vw; text-align: center; }
#formbox form           { line-height: 1.5; }
#formbox form p         { padding: 1em 0; }
#formbox form label     { padding-right: 5px; }
p.headline              { padding: 0 1em; }
p.headline span         { display: block; font-size: smaller; margin-top: 1em; }
{% endblock styles %}

{% block personalization %}{% endblock personalization %}

{% block contents %}
    <div id="formbox">
      <p class="headline big">
        <em class="big bold">Forgot your password?</em>
        <span>Enter your email address below,
          and we'll email instructions for setting a new one.</span>
      </p>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="ta_c">
          <input type="submit" value="Send me instructions!" />
        </p>
      </form>
    </div>
{% endblock contents %}
