{% extends 'base.html' %}

{% block styles %}
#formbox                { margin: 5vh 20vw; text-align: center; }
#formbox form           { line-height: 1.5; }
#formbox form p         { padding: 1em 0; }
#formbox form label     { padding-right: 5px; }
#formbox form > ul      { display: inline-block; color: gray;
                          font-size: smaller; text-align: left; }
#formbox form > ul li   { padding: 0 1em; }
p.headline              { padding: 0 1em; }
p.headline span         { display: block; font-size: smaller; margin-top: 1em; }
{% endblock styles %}

{% block contents %}
    <div id="formbox">
      <p class="headline big">
        <em class="big bold">Password change</em>
        <span>
          Please enter your old password, for security’s sake,
          and then enter your new password twice
          so we can verify you typed it in correctly.
        </span>
      </p>
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="ta_c">
          <input type="submit" value="Change it!" />
        </p>
      </form>
    </div>
{% endblock contents %}
